<div class="row">     
  <div class='span8 well'>
    <% post.categories.each do |category| %>
      <%= render post.categories %>
    <% end %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4> 
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>Posted by:</span> <%= post.creator.username %> 
      <small>at <%= fix_time(post.created_at) %></small>
    </p>
    <span>
    <small>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </small>
    </span>
  </div>
</div> 