<% if logged_in? %>
  <p class='pull-right'>
    [<%= link_to 'edit this post', edit_post_path(@post) %>]
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>
<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>
</br>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/error', obj: @comment %>
    <div class='control-group'>
      <%= f.label :body, 'Leave a comment' %>
      <%= f.text_area :body, rows: 4, class: 'span5' %>
    </div>
      <%= f.submit 'Submit Comment', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<p>Comments:</p>
<% @post.comments.each do |comment| %>
  <div class='well span8'>
    <em> "<%= comment.body %>"</em>
    <span class='quiet'> by:</span> <%= comment.creator.username %> 
    <small>at <%= fix_time(comment.created_at) %></small>
  </div>  
<% end %>
