<%= render 'shared/content_title', title: 'New Category'%>
<%= render 'shared/error', obj: @category %>

<div class='well'>
  <%= form_for @category do |f|  %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>